@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: Greenth;
  src: url("source/fonts/Greenth.otf") format("opentype");
}
@font-face {
  font-family: GreenthOutline;
  src: url("source/fonts/Greenth\ Outline.otf") format("opentype");
}
@font-face {
  font-family: Bigilla;
  src: url("source/fonts/Bigilla.otf") format("opentype");
}

@font-face {
  font-family: Barracuda;
  src: url("source/fonts/Barracuda-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  color: #fff;
}

:root {
  --noir: #121212;
  --violet: #6c5885;
  --rouge: #aa3946;
}

body {
  width: 100vw;
  height: 100vh;
  background: #000;
  overflow: hidden;
  color: #fff;
}

h1.header {
  font-family: Bigilla;
  font-size: 200px;
  text-transform: uppercase;
  font-weight: bolder;
  width: 90%;
}

.header .letter {
  display: inline-block;
  line-height: 1em;
}

.titles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titles h1 {
  font-weight: 500;
  font-size: 240px;
  font-family: "Barracuda";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul.titles {
  display: flex;
}
ul.blocks {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  list-style: none;
  justify-content: center;
  align-self: center;
}

li.block {
  height: 100vh;
}

.block-1 {
  width: 20px;
  margin: 0 10px;
  background: #da0510;
}

.block-2 {
  width: 14px;
  margin: 0 200px 0 20px;
  background: #2001fe;
}

.block-3 {
  width: 8px;
  margin: 0 40px;
  background: #01fefe;
}

.block-4 {
  width: 20px;
  margin: 0 400px;
  background: #00fe00;
}

.block-5 {
  width: 8px;
  margin: 0 20px;
  background: #f4f315;
}

.block-6 {
  width: 28px;
  background: #fa04f9;
}

.titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titre .containerTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.titre .containerTitle h1 {
  font-size: 2.6rem;
  margin: 0;
  padding: 0;
  margin-top: -1.5rem;
}
.titre .containerTitle .un {
  font-family: "Greenth", sans-serif;
}

.titre .containerTitle .deux {
  font-family: "GreenthOutline", sans-serif;
}

.titre .containerReview {
  display: flex;
  justify-content: flex-end;
  margin-top: -04.5rem;
  margin-right: 1rem;
}

.titre .containerReview button {
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to right,
    var(--violet) 30%,
    #ff00fe 30%,
    #ff00fe 36%,
    var(--rouge) 36%
  );
  background-size: 400% 100%;
  transition: background-position 0.6s ease;
  background-position: right center;
  font-weight: bold;
}

.titre .containerReview button:hover {
  background-position: left center;
}

.titre .greyBar {
  width: 100%;
  height: 1px;
  background-color: #2d2d2d;
  margin-top: 1rem;
}

.home {
  display: flex;
  margin-top: 2rem;
}
.home img {
  margin-left: 5rem;
  margin-right: 2.5rem;
  width: 300px;
}

.home .containerTitle {
}

.home .containerTitle h2 {
  font-family: Greenth;
  font-weight: 100;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  line-height: 30px;
}

.home .containerTitle h3 {
  font-family: "Greenth", sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  line-height: 30px;
}

.home button {
  padding: 15px 30px;
  color: white;
  border: none;
  font-size: 1.3rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to right,
    var(--violet) 30%,
    #ff00fe 30%,
    #ff00fe 36%,
    var(--rouge) 36%
  );
  background-size: 400% 100%;
  transition: background-position 0.6s ease;
  background-position: right center;
  font-weight: bold;
  margin-top: 2rem;
}

.home button:hover {
  background-position: left center;
}

@media screen and (max-width: 768px) {
  body {
    align-items: flex-start;
    width: 100vw;
  }
  .titre .containerTitle h1 {
    font-size: 2.5rem;
    margin-top: 0;
  }

  .titre .containerReview {
    flex-direction: none;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-top: -1.8rem;
  }
  .titre .containerReview button {
    margin-top: 1rem;
    font-size: 0.8rem;
    padding: 8px 16px;
  }

  .home .containerTile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .home .containerTile h2 {
    font-size: 1.5rem;
  }

  .home .containerTile h3 {
    font-size: 1rem;
  }
  .home img {
    width: 200px;
    margin-left: 2rem;
    margin-right: 1rem;
  }
  .home button {
    font-size: 1rem;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 480px) {
  .titre .containerTitle h1 {
    font-size: 2rem;
  }

  .titre .containerReview {
    margin-top: -1.5rem;
  }

  .titre .containerReview button {
    font-size: 0.7rem;
    padding: 6px 12px;
  }

  .home .containerTile {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .home .containerTile h2 {
    font-size: 1.2rem;
  }

  .home .containerTile h3 {
    font-size: 0.9rem;
  }
  .home button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

@media screen and (max-width: 425px) {
  /* Make the texte of home on top of the image */
  .home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1100px) {
  .titles h1 {
    font-size: 180px;
  }
}
@media screen and (max-width: 870px) {
  .titles h1 {
    font-size: 150px;
  }
}

@media screen and (max-width: 768px) {
  .titles h1 {
    font-size: 120px;
  }
}
@media screen and (max-width: 560px) {
  .titles h1 {
    font-size: 70px;
  }
}
@media screen and (max-width: 320px) {
  .titles h1 {
    font-size: 60px;
  }
}
